/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
/* .badge {
    display: inline-block;
    max-width: 150px;
    word-wrap: break-word;
    white-space: normal;
} */

.card-datatable {
    padding-bottom: 20px; /* Adjust as needed */
}

.dropzone .dz-preview .dz-image img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the image is fully contained within the box without being cropped */
}
